# Pandas Training Book

### Why I made this notebook?

This Notebook is here to train the Pandas Library. 
It contains quizzles for all fundamental Pandas attributes, methods and more. 
The goal is to **master the mechanics through repetition**. 
The work here is based on the book "Python Data Science Handbook" written by Jack VanderPlas, which I really enjoyed reading.

### Requirements

You should know the theory behind numpy and have an understanding why the following tasks work.
This book is just about knowing how to use the code.

### Let's get started

#### Task 1 Installation

1.1 Import Pandas

In [1]:
import pandas as pd

In [2]:
#enter solution

1.2 Show Pandas version

In [3]:
pd.__version__

'1.0.3'

In [4]:
#enter solution

1.3 Import the other library, that panda works with

In [5]:
import numpy as np

In [6]:
#enter solution

#### Task 2 Introducing Pandas Objects

2.1 Create a pandas series with the values 1, 2 , 3 , 4 and save it in the variable **data**

In [7]:
data = pd.Series([1, 2, 3, 4])
data

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
#enter solution

2.2 Get the values from the **data** object

In [9]:
data.values

array([1, 2, 3, 4], dtype=int64)

In [10]:
#enter solution

2.3 Show the index-range from the **data** object

In [11]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
#enter solution

2.4 Get the second item from the **data** object

In [13]:
data[1]

2

In [14]:
#enter solution

2.5 Get the values from index 1 to 2

In [15]:
data[1:3]

1    2
2    3
dtype: int64

In [16]:
#enter solution

2.6 create a pandas series with the values 1, 2, 3, 4 and indices a, b, c, d and save it in the varibale **data**

In [17]:
data = pd.Series([1,2,3,4], index=["a", "b", "c", "d"])
data

a    1
b    2
c    3
d    4
dtype: int64

In [18]:
#enter solution

2.7 Get the item for the index "b"

In [19]:
data["b"]

2

In [20]:
#enter solution

2.8 Create a dictionary with the keys "Person1", "Person2", "Person3", "Person4" and the values, 12 ,13 ,15 ,11
save it as **person_dict**. Create a pandas series out of this dictionary and save it as **person_pd**.

In [21]:
person_dict = {"Person1": 12, "Person2": 13, "Person3": 15, "Person4": 11}
print(person_dict)
person_pd = pd.Series(person_dict)
person_pd

{'Person1': 12, 'Person2': 13, 'Person3': 15, 'Person4': 11}

Person1    12
Person2    13
Person3    15
Person4    11
dtype: int64

In [22]:
#enter solution

2.9 Get the values for Person3

In [23]:
person_pd["Person3"]

15

In [24]:
#enter solution

2.10 Get the values from Person2 to Person4

In [25]:
person_pd["Person2":"Person4"]

Person2    13
Person3    15
Person4    11
dtype: int64

In [26]:
#enter solution

2.11 Get a pandas series from the following dictionary with only index 3 and 2

In [27]:
test_dict = {2: "a", 3: "c", 1: "a"}

data = pd.Series(test_dict, index= [3,2])
data

3    c
2    a
dtype: object

In [28]:
#enter solution

#### Task 3 Pandas DataFrame Object

3.1 Create two dictionaries named person_number_dict and person_wage dict with the keys "Person1", "Person2", "Person3", "Person4". 
The values for person_number_dict: 123 , 124 , 125 , 126
The values for person_wage_dict: 10000, 12000 , 9000, 5000

In [35]:
person_number_dict = {"Person1": 123, "Person2": 124, "Person3": 125, "Person4": 126}
person_wage_dict = {"Person1": 10000, "Person2": 12000, "Person3": 9000, "Person4": 5000}

In [ ]:
#enter solution

3.2 Create two pandas series with the dictionaries before. Named person_number_pd and person_wage_pd.

In [37]:
person_number_pd = pd.Series(person_number_dict)
person_wage_pd = pd.Series(person_wage_dict)

In [ ]:
#enter solution

3.3 Create a data frame with the index set as "Person1", "Person2" ... etc. and the column named as "per. number" and "wage". Fill in the pandas series from before. Save it in the variable **data**

In [39]:
data = pd.DataFrame({"per. number": person_number_pd, "wage": person_wage_pd})
print(data)

         per. number   wage
Person1          123  10000
Person2          124  12000
Person3          125   9000
Person4          126   5000

In [40]:
#enter solution

3.4 Get the indices from the **data** set

In [41]:
data.index

Index(['Person1', 'Person2', 'Person3', 'Person4'], dtype='object')

In [42]:
#enter solution

3.5 Get the column names from the **data** set

In [43]:
data.columns

Index(['per. number', 'wage'], dtype='object')

In [44]:
#enter solution

3.6 Get the column for "wage" from the **data** set

In [45]:
data["wage"]

Person1    10000
Person2    12000
Person3     9000
Person4     5000
Name: wage, dtype: int64

In [46]:
#enter solution

#### Task 4 Create Panda DataFrames

4.1 Create a Panda DataFrame from **person_wage_pd**

In [49]:
data = pd.DataFrame(person_wage_pd, columns= ["wage"])
data

          wage
Person1  10000
Person2  12000
Person3   9000
Person4   5000

In [50]:
#enter solution

4.2 Create a Panda DataFrame from the given dictionary

In [56]:
x_dict = [{"a":i ,"b":i*2 , "c": i**3} for i in range(3)]

pd.DataFrame(x_dict)

   a  b  c
0  0  0  0
1  1  2  1
2  2  4  8

In [57]:
x_dict = [{"a":i ,"b":i*2 , "c": i**3} for i in range(3)]

#enter solution

4.3 Create a Panda DataFrame from the two following dictionaries

In [60]:
x_dict = {"a": 1, "b": 2}
y_dict = {"b": 4, "c": 3}

x_pd = pd.DataFrame([x_dict, y_dict])
x_pd

     a  b    c
0  1.0  2  NaN
1  NaN  4  3.0

In [61]:
x_dict = {"a": 1, "b": 2}
y_dict = {"b": 4, "c": 3}

#enter solution

4.4 Create a Panda DataFrame from the following Numpy array and lists

In [66]:
np.random.seed(42)
np_data = np.random.rand(3,2)
cols = ["foo", "bar"]
ind = ["a", "b", "c"]

pd.DataFrame(np_data, columns=cols, index= ind)

        foo       bar
a  0.374540  0.950714
b  0.731994  0.598658
c  0.156019  0.155995

In [67]:
np.random.seed(42)
np_data = np.random.rand(3,2)
cols = ["foo", "bar"]
ind = ["a", "b", "c"]

#enter solution

4.5 Get the intersection of the follwing two indices

In [68]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [69]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

#enter solution

4.6 Get the union of **indA** and **indB**

In [70]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [71]:
#enter solution

4.7 Get the symmetric difference

In [72]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

In [73]:
#enter solution